<h1>Lets learn Event binding</h1>
<button (click)='clickfun()'>clickme</button><br><br>
<button on-click='clickfun2()'>clickme</button><br><br>
<div>
 Enter Data here:<input type="text" (keyup)="keyUp()" (keydown)='keyDown()'>
 <br><br>
 Enter data:<input type="text" (input)="input($event.target.value)">
 <p>{{msg}}</p>
</div><br>
<div> 
    Two way databinding in general form:<input type="text" [value]='newmsg' (keyup)="funct($event.target.value)">
    <p>{{newmsg}}</p>
</div><br>
<div>
    <input type="text"[(ngModel)]='newdata' >
    <p>{{newdata}}</p>
</div>