<h1>Reactive Forms</h1>
<div>
    <form [formGroup]='refForm' (ngSubmit)='Registration(refForm)'>
        <div>Enter First Name:<input type="text" placeholder="Enter  First name here" formControlName="fname" /></div>
        <div>Enter Last Name:<input type="text" placeholder="Enter Last name here" formControlName="lname" /></div>
        <div>Enter Email Id:<input type="text" placeholder="Enter Email id here" formControlName="email" /></div><br>
        <div><input type="submit" value="Submit" class="btn btn-primary" /> &nbsp; <button (click)="resetFun()"
                class="btn btn-danger">Reset</button></div>
                <div><button (click)='filldata()'>Fill data</button></div>
    </form>
</div>
<div>
    <mat-slider min="1" max="100" step="1" value="50"></mat-slider>
</div>